nav {
    padding-top: 1em;
}

table {
    border-collapse: collapse;
}

td {
    border: 1px solid black;
}

th, tr, td {
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
}

table, th, tr {
    border: 0px;
    margin: auto;
}

table td#Z-box {
    background-color: turquoise;
}

.col {
    text-align: center;
}

.col p {
    margin: 0;
    transform: translateY(50%);
}

.col-xs {
    text-align: center;
}

.col-xs p {
    margin: 0;
    transform: translateY(50%);
}


#step-wrapper {
    padding: 1em;
    border-width: 0.1em;
    border-bottom-style: solid;
    border-bottom-color: gray;
}